.weather_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .weather_card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 200px;
    width: 100%;
  }
  
  .card_header {
    background-color: #e0e0e0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    padding: 5px;
  }
  
  .card_body {
    padding: 5px 40px 0px 40px;
  }
  
  .weather_icon {
    height: 48px;
    width: 48px;
  }
  
  .card_title {
    font-size: 16px;
    margin: 10px 0 10px 0;
  }
  
  .card_text {
    font-size: 14px;
    margin-bottom: 5px;
  }
  